
// setting the root font size to make harmon work with rem.
:root {
    font-size: $base;
}

body {
    font-size: scale(1);
}

h1 {
    font-size: scale(5);
}

h2 {
    font-size: scale(4);
}

a {

    color: #333;
    text-decoration: none;

    &:hover {
        color: #999;
    }

}